.footer{
  background-color: $background-default;
  text-align: center;
  padding: $m-sm;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__select{
    width: 30%;

    @media screen and (max-width: 599px) {
      width: 150px;
    }
  }
}
