
.homepageBackground{
  background-image: url('/images/homepage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}

.homepage{
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(8px);
  justify-content: center;
  
  &__header{
    text-align: center;
  }

  &__search-wrapper{
    width: calc(100vw - 50%);
    height: 200px;
    background-color: $background-default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow-default;
    border-radius: $br-sm;

    @media only screen and (max-width: 599px){
      width: 90%;
      padding: $m-base 0px;
    }
  }
}
  
.search-label{
  width: 60%;
  font-size: $font-size-xxl;
  margin-bottom: $m-xs;
  padding-left: $m-sm;
  color: $palette-light;

  @media only screen and (max-width: 599px){
    padding-left: 0px;
  }
}
  

.search-form{
  width: 60%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  @media only screen and (max-width: 599px){
    width: auto;
    flex-direction: column;
    flex: 1;
    gap: $m-sm;
  }

  &__search-input{
    width: 70%;
    height: 24px;        
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: $font-size-md;
    line-height: $font-size-xl;
    padding: 0px $m-sm;
    border: unset;
    border-radius: 4px;
    outline-color: $palette-dark;
    background-color: $background-default;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;

    @media only screen and (max-width: 599px){
      width: 100%;
    }
  }

  &__submit-button{
    min-width: 75px;
    width: 25%;
    margin-left: $m-sm;

    @media only screen and (max-width: 599px){
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
    }
      
  }
}