.navbar{
  background-color: $background-default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $m-xs $m-lg;
  border-bottom: $m-base solid $border-default;

  &__logo{
    height: 80px;
  }

  &__links{
    margin: 0;
    display: flex;
    list-style: none;
  }
}

.navbarMobile{
  background-color: $background-default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $m-xs $m-lg;
  border-bottom: $m-base solid $border-default;

  &__logo{
    height: 80px;
  }

  &__links{
    transform: translateX(100%);
    z-index: 1000;
    position: fixed;
    top: 124px;
    right: 0px;
    height: calc(100% - 125px);
    width: 100%;
    background-color: $background-default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.75s;
    transition-delay: 0.01s;
    transition-property: transform;

    &--open{
      transform: translateX(0%);
      transition: 0.75s;
      transition-delay: 0.01s;
      transition-property: transform;
    }

    & > a{
      width: 50%;
      height: 48px;
    }
  }
}