.offers-page-wrapper{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.offers-page{
  // background-color: #555;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__offers-filters-wrapper{
    width: 25%;
    margin: 24px 16px;
    height: auto;
    background-color: navajowhite;
  }

  &__offers-listing-wrapper{
    //margin-left: 24px;
    width: 75%;
    height: 100%;
    flex-grow: 1;
    // background: royalblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

}
