.offers-filters{
  position: sticky;
  top: 24px;
  width: 25%;
  margin: $m-base $m-sm;
  height: fit-content;
  box-shadow: $box-shadow-default;
  border-radius: $br-sm;

  @media screen and (max-width: 599px) {
    width: 80%;
    margin: $m-xs auto $m-base;
    position: relative;
  }

  &__filter-box{
    padding: $m-base $m-sm 0;

    & > span{
      color: $palette-dark;
      margin-bottom: $m-xs;
      display: inline-block;
    }

    &__input{
      box-sizing: border-box;
      width: 100%;
      font-size: $font-size-md;
      line-height: $font-size-xl;
      padding: 0px $m-sm;
      margin-bottom: $m-xs;
      height: 38px;
      border: unset;
      border-radius: 4px;
      outline-color: $palette-dark;
      background-color: $background-default;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  
      input[type=number] {
        width: 40%;
      }
    }
  }

  &__button{
    width: -webkit-fill-available;
    height: 38px;
    margin: $m-base $m-sm;
  }
}

.offers-listing{
  width: 75%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: $m-base;

    @media screen and (max-width: 599px) {
      width: 80%;
      margin: $m-xs auto;
    }

    &__pagination-wrapper{
      list-style-type: none;
      display: flex;
      gap: $m-base;
      padding: 0px;
      justify-content: space-between;
  
      @media screen and (max-width: 599px) {
        gap: $m-sm;
      }
  
  
      & > li{
        font-size: $font-size-md;
        line-height: $font-size-xl;
        border: unset;
        border-radius: 4px;
        outline-color: $palette-dark;
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                    rgb(0 0 0 / 12%) 0px 1px 1px 0px,
                    rgb(84 105 212) 0px 0px 0px 1px,
                    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                    rgb(60 66 87 / 8%) 0px 2px 5px 0px;
        color: $palette-dark;
        font-weight: $font-weight-semi-bold;
        cursor: pointer;
        text-decoration: none;
  
        & > a{
          display: block;
          padding: $m-xs $m-sm;
  
          @media screen and (max-width: 599px) {
            padding: 6px 10px;
          }
        }
      }
  
      & > li.disabled{
        background-color: lightgray;
        box-shadow: none;
        outline-color: none;
        cursor: default;
      }
      & > li.selected{
        background-color: $palette-dark;
        color: $font-default-white
      }
    }
}
