.offer-details-wrapper{
  width: 80%;
  margin: $m-sm auto $m-lg;
}

.info-box{
  position: sticky;
  top: 24px;
  box-shadow: $box-shadow-default;
  border-radius: $br-sm;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 $m-sm;
  height: fit-content;

  @media screen and (max-width: 599px) {
    position: relative;
    top: 0px
  }

  &__icon{
    width: 16px;
    height: 16px;    
  }

  &__heading{
    margin-top: $m-sm;
    margin-bottom: $m-sm;
  }

  &__detail{
    gap: $m-xs;
    margin-top: 0px;
    display: flex;
    align-items: center;
  }

  &__location-detail{
    display: flex;
    align-items: center;
    color: $color-success;
    gap: $m-xs;

    & > svg{
      fill: $color-success;
    }
  }
}

.main-box{
  width: 75%;

  @media screen and (max-width: 599px) {
    flex: 1;
  }

  &__carousel{
    & > div:nth-child(2){
      & > div > ul {
        display: flex;
        justify-content: center;
        
        & > .thumb {
          height: 60px;
          padding: 2px;
          display: flex;
          align-items: center;
        }

        & > .thumb:hover {
          border-radius: $br-xs;
          border-color: $palette-dark;
        }

        & > .thumb.selected{
          border-radius: $br-xs;
          border-color: $palette-dark;
        }
      }
    }
  }

  &__leaflet{
    & > .leaflet-container{
      height: 500px;
      width: 100%;
    }

    & > div > div.leaflet-control-container > div.leaflet-top.leaflet-right{
      & > .geosearch {
        width: 300px;

        @media screen and (max-width: 599px) {
          width: 200px;
        }

        & > form{
          display: grid;
          grid-template-columns: 6fr 1fr;
          grid-template-rows: 1.5rem 5fr;
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          

          & > div.results.active{
            background-color: $background-default;
            grid-area: 2 / 1 / 3 / 3;
            width: 100%;

            & > div{
              border-bottom: 1px solid $palette-light;
            }
          }
        }

        & > a {
          display: none;
        }
      }
    }
  }
}
  
.offer-details{
  display: flex;
  gap: $m-lg;
}

