.register-page-wrapper{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-page{
  height: auto;
  min-width: 300px;
  box-shadow: $box-shadow-default;
  border-radius: 8px;
  padding: 24px 48px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &--mobile{
    min-width: 0px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &__title{
    width: 100%;

    padding-bottom: 8px;
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #1a1f36;
  }

  &__form{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input{
    width: 100%;
    margin-bottom: 8px;

    & input{
      box-sizing: border-box;
      width: 100%;
      font-size: 16px;
      line-height: 28px;
      padding: 0px 16px;
      min-height: 40px;
      border: unset;
      border-radius: 4px;
      outline-color: rgb(84 105 212 / 0.5);
      background-color: rgb(255, 255, 255);
      -webkit-appearance: none;
      appearance: none;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    }

    & label {
      display: block;
      margin-bottom: 4px;
      font-size: 14px;
      font-weight: 600;
  }
  }

  &__button{
    font-size: 16px;
    width: 100%;
    line-height: 28px;
    padding: 0px 16px;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(84, 105, 212);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                rgb(0 0 0 / 12%) 0px 1px 1px 0px,
                rgb(84 105 212) 0px 0px 0px 1px,
                rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }

  &__googleButton{
    margin-top: 16px;
  }
}
