.single-offer{
  width: 90%;
  box-shadow: $box-shadow-default;
  border-radius: $br-sm;
  margin: $m-base 0;
  text-decoration: unset;
  color: $color-primary-300;
  display: flex;
  justify-content: flex-start;

  @media screen and (max-width: 599px) {
    flex-direction: column;
    align-items: center;
  }


  &:hover{
    box-shadow: $box-shadow-hover
  }

  &__offer-img{
    margin: $m-xs $m-sm $m-xs $m-xs;
    width: 200px;
    height: 125px;
    border-radius: $br-xs;
  }

  &__offer-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-grow: 2;

    @media screen and (max-width: 599px) {
      align-items: center;
    }

    &__offer-title{
      @media screen and (max-width: 599px) {
        margin-left: $m-sm;
        margin-right: $m-sm;
      }
    }
  }


  &__offer-price{
    color: $color-primary-500;
    align-self: center;
    text-align: left;
    font-size: $m-base;
    margin: $m-xs $m-sm $m-xs $m-xs;
  }
}
