.user-profile-wrapper{
  width: 80%;
  margin: 0 auto 32px;
}

.offers{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  
  @media screen and (max-width: 599px) {
    display: block;
     & > div{
      margin-bottom: 24px;
     }
  }
}

.user-profile-info{
  &__info-input{
    display: flex;
    flex-direction: column;

    & input{
      box-sizing: border-box;
      width: fit-content;
      min-width: 30%;
      font-size: 16px;
      line-height: 28px;
      padding: 0px 16px;
      min-height: 44px;
      border: unset;
      border-radius: 4px;
      outline-color: rgb(84 105 212 / 0.5);
      background-color: rgb(255, 255, 255);
      -webkit-appearance: none;
      appearance: none;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    }

    & label {
      display: block;
      margin: 12px 0;
      font-size: 18px;
      font-weight: 600;
  }

    &__error-msg{
      font-size: 12px;
      margin-top: 4px;
      color: $color-danger-500;
    }
  }

  &__info-button{
    margin: 8px 8px 8px 0px;
    font-size: 16px;
    line-height: 28px;
    padding: 0px 16px;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(84, 105, 212);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                rgb(0 0 0 / 12%) 0px 1px 1px 0px,
                rgb(84 105 212) 0px 0px 0px 1px,
                rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    color: $color-white;
    font-weight: 600;
    cursor: pointer;
  }
}

.user-profile-offers{
  width: 100%;

  &__single-offer{
    box-shadow: $box-shadow-default;
    border-radius: 8px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
      box-shadow: rgb(60 66 87 / 12%) 0px 13px 20px 0px, rgb(0 0 0 / 12%) 0px 9px 12px 0px;
    }

    a{
      text-decoration: unset;
      color: $color-primary-300;
    }

    h2{
      margin-bottom: 8px;
    }

    &--archived{
      background-color: #ddd;
    }
  }

  &__offer-img{
    text-align: center;

    & > img{
      margin: 8px 0px 8px 0px;
      width: 90%;
      height: 200px;
      border-radius: 4px;
    }
  }

  &__offer-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 90%;
    margin: 0 auto;
  }

  &__offer-price{
    color: #5469d4;
    align-self: center;
    text-align: left;
    font-size: $m-base;
    width: 90%;
    margin: 8px auto;
  }

  &__offer-buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12px;
    gap: 12px;

    a{
      text-decoration: unset;
      text-align: center;
    }
  }

  &__offer-button{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 28px;
    padding: 0px 16px;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(84, 105, 212);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                rgb(0 0 0 / 12%) 0px 1px 1px 0px,
                rgb(84 105 212) 0px 0px 0px 1px,
                rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                rgb(0 0 0 / 0%) 0px 0px 0px 0px,
                rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    color: $color-white;
    font-weight: 600;
    cursor: pointer;
  }

  &__offer-button:last-child{
    width: 100%;
  }
}