$color-primary: #2461bd;
$color-success: #48bd66;
$color-warning: #ffd200;
$color-danger: #e62a2a;
$color-info: #5bc0de;

$m-xs: 8px;
$m-sm: $m-xs * 2;
$m-base: $m-xs * 3;
$m-lg: $m-base * 2;
$m-xl: $m-base * 3;
$m-2xl: $m-base * 4;
